<!--
  Generated template for the MyListsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Lists</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="artists-listing-content">
  <ion-list class="items-list" *ngIf="myLists?.getAllLists()?.length > 0">
    <ion-item class="list-item" *ngFor="let myList of myLists.getAllLists()">
      <ion-row class="artist-row" (click)="itemTapped(myList)">
        <ion-col size="3" class="artist-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="artist-image" animation="spinner" [mode]="'cover'" [src]="myList.artwork" [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="artist-data-wrapper">
          <div class="artist-info">
            <h3 class="artist-name">
              <app-text-shell animation="bouncing" [data]="myList.listName"></app-text-shell>
            </h3>
            <h5 class="artist-age">
              <app-text-shell animation="bouncing" [data]="myList.listArtists?.length.toString().concat(' artists')"></app-text-shell>
            </h5>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>