:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
}

.listing-content {
--background: var(--page-background);
--padding-end: 0px;
--inner-padding-start: 0px;
--inner-padding-end: var(--page-margin);
--inner-padding-top: calc(var(--page-margin) / 2);
--inner-padding-bottom: calc(var(--page-margin) / 2);
}

.list-item {

    .item-row {
        --ion-grid-column-padding: 0px;       
        margin: calc(var(--page-margin) / 2); 

        .image-wrapper {
            max-width: 50px !important;
            // padding-inline-end: calc(var(--page-margin) / 2);
        }

        app-image-shell.item-image {
            --image-shell-border-radius: var(--page-border-radius);
        }          

        .data-wrapper {
            padding-inline-start: calc(var(--page-margin) / 2);
            display: flex;
            flex-direction: column;
            justify-content: center;

            .item-info {
                    &:not(:last-child) {
                    margin-bottom: calc(var(--page-margin) / 2);
                }

                .item-name {
                    margin: 0px;
                    margin-bottom: calc(var(--page-margin) / 4);
                    font-size: 16px;
                }

                .item-time {
                    margin: 0px;
                    color: rgba(var(--ion-color-dark-rgb), 0.4);
                    font-size: 14px;
                }
            }
        }

        .actions-wrapper {
            display: flex;
            justify-content: center;    
            align-items: center;   
            margin-right: calc(var(--page-margin) / 4);
        }

    }
}

.empty-list-message {
    margin: calc(var(--page-margin) * 3);
    color: rgba(var(--ion-color-dark-rgb), 0.4);
    text-align: center;
}