<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="fromMenu"></ion-menu-button>
      <ion-button *ngIf="!fromMenu" fill="clear" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Results</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="listing-content">
  <ng-container class="items-list">
    <div class="list-item" *ngIf="currentSearch()">
      <ion-row class="item-row">
        <ion-col size="2" class="image-wrapper" (click)="currentTapped()">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <circle-progress [percent]="loadingService.loadingPercent" [showSubtitle]="false"></circle-progress>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="data-wrapper" (click)="currentTapped()">
          <div class="item-info">
            <h3 class="item-name">
              <app-text-shell animation="bouncing" [data]="type(currentSearch())"></app-text-shell>
            </h3>
            <h5 class="item-time">
              <app-text-shell animation="bouncing" [data]="duration(currentSearch())"></app-text-shell>
            </h5>
          </div>
        </ion-col>
        <ion-col size="1" class="actions-wrapper">
          <ion-button fill="clear" color="secondary" (click)="cancelCurrent()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="actions-wrapper">
          <ion-button fill="clear" color="secondary" (click)="infoCurrent()">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="list-item" *ngFor="let queuedParams of queuedSearches()">
      <ion-row class="item-row">
        <ion-col size="2" class="image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="item-image" animation="spinner" [mode]="'cover'" [src]="'./assets/images/pending.png'" [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="data-wrapper">
          <div class="item-info">
            <h3 class="item-name">
              <app-text-shell animation="bouncing" [data]="type(queuedParams)"></app-text-shell>
            </h3>
            <h5 class="item-time">
              <app-text-shell animation="bouncing" [data]="duration(queuedParams)"></app-text-shell>
            </h5>
          </div>
        </ion-col>
        <ion-col size="1" class="actions-wrapper">
          <ion-button fill="clear" color="secondary" (click)="cancelQueued(queuedParams)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="actions-wrapper">
          <ion-button fill="clear" color="secondary" (click)="infoQueue(queuedParams)">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="list-item" *ngFor="let historyResult of lastResults()">
      <ion-row class="item-row">
        <ion-col size="2" class="image-wrapper" (click)="historyTapped(historyResult)">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="item-image" animation="spinner" [mode]="'cover'" [src]="'./assets/images/done.png'" [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="data-wrapper" (click)="historyTapped(historyResult)">
          <div class="item-info">
            <h3 class="item-name">
              <app-text-shell animation="bouncing" [data]="typeH(historyResult)"></app-text-shell>
            </h3>
            <h5 class="item-time">
              <app-text-shell animation="bouncing" [data]="durationH(historyResult)"></app-text-shell>
            </h5>
          </div>
        </ion-col>
        <ion-col size="1" class="actions-wrapper">
          <ion-button fill="clear" color="secondary" (click)="removeHistory(historyResult)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="actions-wrapper">
          <ion-button fill="clear" color="secondary" (click)="infoHistory(historyResult)">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>