:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.search-toolbar {
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
  
    .searchbar-row {
      --ion-grid-column-padding: 0px;
  
      ion-searchbar.items-searchbar {
        padding: 0px;
        // override Ionic fixed height
        height: 100%;
        // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
        contain: content;
      }
    }
  }

.artists-listing-content {
--background: var(--page-background);

.items-list {
    .list-item {
    --padding-start: var(--page-margin);
    --padding-end: 0px;
    --inner-padding-start: 0px;
    --inner-padding-end: var(--page-margin);
    --inner-padding-top: calc(var(--page-margin) / 2);
    --inner-padding-bottom: calc(var(--page-margin) / 2);

    .artist-row {
        --ion-grid-column-padding: 0px;

        width: 100%;

        .artist-image-wrapper {
        padding-inline-end: calc(var(--page-margin) / 2);
        max-width: 75px !important;
        }

        .artist-data-wrapper {
        padding-inline-start: calc(var(--page-margin) / 2);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .artist-info {
            &:not(:last-child) {
            margin-bottom: calc(var(--page-margin) / 2);
            }

            .artist-name {
            margin: 0px;
            margin-bottom: calc(var(--page-margin) / 4);
            font-size: 16px;
            }

            .artist-age {
            margin: 0px;
            color: rgba(var(--ion-color-dark-rgb), 0.4);
            font-size: 14px;
            }
        }
        }
    }
    }
}

.empty-list-message {
    margin: calc(var(--page-margin) * 3);
    color: rgba(var(--ion-color-dark-rgb), 0.4);
    text-align: center;
}
}