<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar class="search-toolbar"> 
    <ion-row class="searchbar-row">
      <ion-col>
        <ion-searchbar class="items-searchbar" animated mode="ios" [(ngModel)]="queryText" (ionChange)="searchArtist()" placeholder="Artist..."></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="artists-listing-content">
  <ion-list class="items-list" *ngIf="resultArtists?.length > 0">
    <ion-item class="list-item" *ngFor="let resultArtist of resultArtists">
      <ion-row class="artist-row" (click)="itemTapped(resultArtist)">
        <ion-col size="3" class="artist-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="artist-image" animation="spinner" [mode]="'cover'" [src]="resultArtist.iconSmall" [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="artist-data-wrapper">
          <div class="artist-info">
            <h3 class="artist-name">
              <app-text-shell animation="bouncing" [data]="resultArtist.artist"></app-text-shell>
            </h3>
            <h5 class="artist-age" *ngIf="resultArtist.listeners">
              <app-text-shell animation="bouncing" [data]="formatListeners(resultArtist)"></app-text-shell>
            </h5>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <h3 *ngIf="resultArtists?.length == 0" class="empty-list-message">
    No artists found.
  </h3>
</ion-content>