<ion-content class="popover-content">
  <ion-list class="popover-list">
    <ion-item lines="none" (click)="addToCustomListPrompt()">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add To List</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="generate()">
      <ion-icon name="headset"></ion-icon>
      <ion-label>Generate</ion-label>
    </ion-item>    
  </ion-list>
</ion-content>