<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="skip-walkthrough-button" fill="clear" [routerLink]="['/']">skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="walkthrough-slides" pager="true">
    <ion-slide class="first-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:915, h:849}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-1.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 90 20" style="enable-background:new 0 0 90 20;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 V5 H5 C25 5 25 20 45 20 S65 5 85 5 H90 V0 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">Let's learn about SupriseMe</h3>
            <p class="info-paragraph">
              It was created with the purpose of helping you getting better music recommendations.
            </p>
            <p class="info-paragraph">
              <b>Next, we will explain to you the basic concepts of the recommender system.</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">The library</h3>
            <p class="info-paragraph">
              The library contains user's already known artists, that will be excluded from recommendations.
            </p>
            <p class="info-paragraph">
              The library can be enabled or disabled per provider in the app's settings or as a whole for the current search in the right
              menu of the Recommender page (the option is called 'Ignore Library'). Ignoring library means that you might
              get recommendations for already known artists.
            </p>
            <p class="info-paragraph">
              <b>You will learn more about providers in the next slides.</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">The source of the recommendations</h3>
            <p class="info-paragraph">
              The source of the recommendations is what you set up in the main Recommender page.
            </p>
            <p class="info-paragraph">
              <b>For example, you can set the source to be your listening chart of the last year.</b>
            </p>
            <p class="info-paragraph">
              Instead of getting recs based on the source artists, you can choose to view them. As the source can contain both artists
              included in the library and not included, you can also choose to only view artists not included in the library.
            </p>
            <p class="info-paragraph">
              <b>This can be useful when viewing a source based on global charts for example.</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">The similarity providers</h3>
            <p class="info-paragraph">
              The similarity providers will be used to decide which artists are similar to the artists in the source.
            </p>
            <p class="info-paragraph">
              <b>For example, if your source contains Adele you might get Sam Smith as a recommendation.</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">The info provider</h3>
            <p class="info-paragraph">
              The info provider will provide details about the recommended artists.
            </p>
            <p class="info-paragraph">
              <b>For example, the artist's image, the genres or the description.</b>
            </p>
            <p class="info-paragraph">
              Searching for the artists info is time consuming and if you are only interested in artists names you can switch to a simple
              search.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">The scrobbles provider</h3>
            <p class="info-paragraph">
              The scrobbles provider will provide the number of times that you listened to an artist or a track in the past.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="last-slide illustration-and-decoration-slide">
      <div class="scroll-content">
        <div class="upper-content">
          <ion-row class="slide-inner-row">
            <ion-col class="illustration-col">
              <app-aspect-ratio [ratio]="{w:1096, h:806}">
                <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
                  [alt]="'walkthrough'"></app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="decoration-col">
              <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
                preserveAspectRatio="none">
                <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
              </svg>
            </ion-col>
            <ion-col class="info-col">
              <ion-row class="info-outer">
                <ion-col>
                  <div class="info-wrapper">
                    <h3 class="info-title">The listening provider</h3>
                    <p class="info-paragraph">
                      The listening provider will determine the track you are currenly listening or last listened.
                    </p>
                    <p class="info-paragraph">
                      <b>The track's scrobbles will still be taken from the scrobbles provider though. Similarly, the artist's
                        info will be taken from the info provider.</b>
                    </p>
                    <p class="info-paragraph">
                      For showing local (phone) listening, please enable notification access inside the phone's settings.
                    </p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
        <div class="lower-content">
          <ion-col class="info-col">
            <ion-row class="info-outer">
              <ion-col class="call-to-actions-wrapper">
                <ion-row class="alt-call-to-action-row">
                  <span class="cta-leading-text">For local listener</span>
                  <ion-button class="login-button" fill="clear" (click)="selectMusicApps()">
                    Select music apps
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">The providers</h3>
            <p class="info-paragraph">
              Each of the previous concepts is enabled by providers. SurpriseMe currently offers support for
              <b>Last.fm</b>,
              <b>Spotify</b> and
              <b>Deezer</b>, as well as
              <b>locally</b> saved artists.
            </p>
            <p class="info-paragraph">
              <b>For example, from the settings menu you can set up Last.fm for the library, both Last.fm and Spotify for recs
                and Deezer for info. Then, in the Recommender page use your Spotify saved tracks as the source of the recs.</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">Searching</h3>
            <p class="info-paragraph">
              You can search for artists manually in the dedicated search page.
            </p>
            <p class="info-paragraph">
              <b>The search function uses the info provider to get its results</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">Saving artists</h3>
            <p class="info-paragraph">
              You can save artists individually when viewing them or as a list when viewing the results of the recommender. You can save
              them to favorites, to a banned list or to a custom list created by you.
            </p>
            <p class="info-paragraph">
              <b>
                Banned artists will not be recommended to you again. Favorite artists will be considered part of your library. For custom
                lists, you can choose whether the artists in the list are part of your library or not.
              </b>
            </p>
            <p class="info-paragraph">
              Basically, these lists form the local provider. It can only be used as a library and source provider.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">Exporting and importing</h3>
            <p class="info-paragraph">
              You can export a list using your app of choice, for example email it. You may delete it afterwards, as it was safely saved.
              You can later import it again. You can also export all the lists at once.
            </p>
            <p class="info-paragraph">
              <b>
                This is useful for example when you want to replace your phone and preserve your lists. Note that deleted lists are not taken
                into account for the library, even if they were exported.
              </b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">Generating playlists</h3>
            <p class="info-paragraph">
              You can generate playlists from a locally saved list of artists or from the results of the recommender. You can choose a
              supported provider from the enabled providers.
            </p>
            <p class="info-paragraph">
              <b>
                At the moment, Spotify and Deezer support playlist generation.
              </b>
            </p>
            <p class="info-paragraph">
              The playlist generation form will ask you for some info. Aside from usual stuff, you can choose how many songs should the
              playlist contain per artist and the number of songs to choose from per artist.
            </p>
            <p class="info-paragraph">
              <b>
                Example: generate 2 random songs per artist from the top 5 songs of that artist.
              </b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24" style="enable-background:new 0 0 64 24;" xml:space="preserve"
            preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">Discography monitoring</h3>
            <p class="info-paragraph">
              You can follow artists and keep track of their albums. You can mark albums as listened.
            </p>
            <p class="info-paragraph">
              <b>
                Although Last.fm is the default discography provider, it is recommended that you change it to Deezer or Spotify (requires
                logging in).
              </b>
            </p>
            <p class="info-paragraph">
              You can also filter albums containing unwanted keywords, for example albums starting with
              <i>live at</i> by setting up regular expressions in the settings page.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="last-slide illustration-and-decoration-slide">
      <div class="scroll-content">
        <div class="upper-content">
          <ion-row class="slide-inner-row">
            <ion-col class="illustration-col">
              <app-aspect-ratio [ratio]="{w:924, h:819}">
                <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/walkthrough-illustration-4.svg'"
                  [alt]="'walkthrough'"></app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="decoration-col">
              <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 18" style="enable-background:new 0 0 64 24;" xml:space="preserve"
                preserveAspectRatio="none">
                <path d="M0 0 L64 0 L64 10 Q56 24 46 12 Q34 0 26 8 Q10 22 0 8 Z" />
              </svg>
            </ion-col>
            <ion-col class="info-col">
              <ion-row class="info-outer">
                <ion-col>
                  <div class="info-wrapper">
                    <h3 class="info-title">One last step</h3>
                    <p *ngIf="appRanBefore()" class="info-paragraph">
                      Some providers require you to log in before you can access them fully. You have already done that. If you need to change
                      or clear your credentials, you can do that from the settings.
                    </p>
                    <p *ngIf="!appRanBefore()" class="info-paragraph">
                      Some providers require you to log in before you can access them fully. You may do this now or later in the settings.
                    </p>
                    <p class="info-paragraph">
                      <b>
                        We hope you will enjoy the app!
                      </b>
                    </p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
        <div class="lower-content">
          <ion-col class="info-col">
            <ion-row class="info-outer">
              <ion-col class="call-to-actions-wrapper">
                <ion-button class="get-started-button" expand="block" [routerLink]="['/']">Get Started</ion-button>
                <ion-row class="alt-call-to-action-row">
                  <span class="cta-leading-text">Log in to providers?</span>
                  <ion-button class="login-button" fill="clear" [disabled]="appRanBefore()" (click)="providersLogIn()">
                    Login here
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>