<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Support Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main" class="page-content">
  <div class="support-me-page">
    <div class="counter">
      <p>Let's have better music everyday</p>
      <h1>This app is free, however, developing it is not. Help me buy my morning coffee by purchasing my other awesome app 😜</h1>
      <hr/>
    </div>
  </div>
</ion-content>

<ion-footer class="page-footer">
  <ion-row class="button-wrapper">
    <ion-col>
      <ion-button class="submit-btn" expand="block" color="secondary" type="submit" fill="solid"
        (click)="openAwesomeApp()">Buy Awesome App</ion-button>
    </ion-col>
  </ion-row>  
</ion-footer>