:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background-shade);
  
    --page-tags-gutter: 5px;
  
    --page-color-radio-items-per-row: 5;
    --page-color-radio-gutter: 2%;
    --page-color-radio-width: calc((100% - (2 * var(--page-color-radio-gutter) * var(--page-color-radio-items-per-row))) / var(--page-color-radio-items-per-row));
  }

.settings-content {  
  --background: var(--page-background);

	ion-item-divider {
		--background: var(--page-background);
		--padding-bottom: calc(var(--page-margin) / 2);
		--padding-top: calc(var(--page-margin) / 2);
		--padding-start: var(--page-margin);
		--padding-end: var(--page-margin);

		border: none;
  }
  
  .provider-list {
      .provider-item {
        --padding-start: var(--page-margin);
        --padding-end: var(--page-margin);
        --inner-padding-end: 0px;

        .provider-label {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.2px;
          color: var(--ion-color-medium);
        }

        .provider-value {
          text-align: center;
          color: var(--ion-color-secondary);
        }

        .provider-value-right {
          text-align: right;
          color: var(--ion-color-secondary);
        }        
      }
    }

    .range-list {
      background-color: var(--ion-color-lightest);
  
      .range-item {
        --ion-grid-column-padding: 0px;
  
        padding-top: var(--page-margin);
        padding-inline-start: var(--page-margin);
        padding-inline-end: var(--page-margin);
        // box-shadow at the top
        box-shadow: inset 0 6px 3px -8px  var(--ion-color-darkest);
  
        .range-header {
          display: flex;
          justify-content: space-between;
          padding-bottom: calc(var(--page-margin) / 2);
  
          .range-value {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.2px;
            color: var(--ion-color-medium);
          }
  
          .range-label {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: var(--ion-color-medium);
          }
        }
  
        .range-control {
          // override the pin color
          --ion-text-color: var(--ion-color-medium);
  
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }    

}