<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-content">
  <ion-item-group class="filters-group">
    <ion-item-divider>
      <ion-label>Providers</ion-label>
    </ion-item-divider>
    <ion-list class="provider-list" lines="full">
      <ion-item class="provider-item" (click)="presentAllProviders()">
        <ion-label class="provider-label">Enabled</ion-label>
        <ion-label class="provider-value">{{providerService.getEnabledProviderSettings().length}} enabled</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
      <ion-item class="provider-item" (click)="presentLibraryProviders()">
        <ion-label class="provider-label">Library</ion-label>
        <ion-label class="provider-value">{{providerService.getActiveProvidersFor(providerOperations.LIBRARY).length}} selected</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
      <ion-item class="provider-item" (click)="presentSourceProviders()">
        <ion-label class="provider-label">Source</ion-label>
        <ion-label class="provider-value">{{providerService.getActiveProvidersFor(providerOperations.SOURCE).length}} selected</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
      <ion-item class="provider-item" (click)="presentSimilarityProviders()">
        <ion-label class="provider-label">Similarity</ion-label>
        <ion-label class="provider-value">{{providerService.getActiveProvidersFor(providerOperations.SIMILARITY).length}} selected</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
      <ion-item class="provider-item" (click)="presentInfoProviders()">
        <ion-label class="provider-label">Info</ion-label>
        <ion-label class="provider-value">{{providerService.getActiveProviderFor(providerOperations.INFO).name}}</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
      <ion-item class="provider-item" (click)="presentScrobbleProviders()">
        <ion-label class="provider-label">Scrobbles</ion-label>
        <ion-label class="provider-value">{{providerService.getActiveProviderFor(providerOperations.SCROBBLE).name}}</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
      <ion-item class="provider-item" (click)="presentDiscographyProviders()">
        <ion-label class="provider-label">Discography</ion-label>
        <ion-label class="provider-value">{{providerService.getActiveProviderFor(providerOperations.DISCOGRAPHY).name}}</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-item-divider *ngIf="providerService.isProviderEnabled('Local')">
      <ion-label>Local</ion-label>
    </ion-item-divider>
    <ion-list class="range-list" lines="full" *ngIf="providerService.isProviderEnabled('Local')">
      <ion-row class="range-item">
        <ion-col size="12">
          <div class="range-header">
            <span class="range-label">Source Weight</span>
            <span class="range-value">{{providerService.getProviderSettings('Local').getSourceWeight()}}</span>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-range class="range-control" color="secondary" [ngModel]="providerService.getProviderSettings('Local').getSourceWeight()"
            (ionChange)="setSourceWeight($event, 'Local')" min="0" max="50" step="1" debounce="1000"></ion-range>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list class="provider-list" lines="full" *ngIf="providerService.isProviderEnabled('Local')">
      <ion-item class="provider-item" (click)="presentMusicApps()">
        <ion-label class="provider-label">Music Apps</ion-label>
        <ion-label class="provider-value">{{providerService.getMusicApps().length}} enabled</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-item-divider *ngIf="providerService.isProviderEnabled('Last.fm')">
      <ion-label>Last.fm</ion-label>
    </ion-item-divider>
    <ion-item-group *ngIf="providerService.isProviderEnabled('Last.fm')">
      <ion-list class="provider-list" lines="full">
        <ion-item class="provider-item" (click)="presentAuth('Last.fm')">
          <ion-label class="provider-label">User</ion-label>
          <ion-label class="provider-value" *ngIf="!providerService.getProviderSettings('Last.fm').getUsername()">Not Logged In</ion-label>
          <ion-label class="provider-value" *ngIf="providerService.getProviderSettings('Last.fm').getUsername()">{{providerService.getProviderSettings('Last.fm').getUsername()}}</ion-label>
          <ion-icon name="arrow-down"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list class="range-list" lines="full">
        <ion-row class="range-item">
          <ion-col size="12">
            <div class="range-header">
              <span class="range-label">Source Weight</span>
              <span class="range-value">{{providerService.getProviderSettings('Last.fm').getSourceWeight()}}</span>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-range class="range-control" color="secondary" [ngModel]="providerService.getProviderSettings('Last.fm').getSourceWeight()"
              (ionChange)="setSourceWeight($event, 'Last.fm')" min="0" max="50" step="1" debounce="1000"></ion-range>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list class="range-list" lines="full">
        <ion-row class="range-item">
          <ion-col size="12">
            <div class="range-header">
              <span class="range-label">Similarity Weight</span>
              <span class="range-value">{{providerService.getProviderSettings('Last.fm').getSimilarityWeight()}}</span>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-range class="range-control" color="secondary" [ngModel]="providerService.getProviderSettings('Last.fm').getSimilarityWeight()"
              (ionChange)="setSimilarityWeight($event, 'Last.fm')" min="0" max="50" step="1" debounce="1000"></ion-range>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-item-group>

    <ion-item-divider *ngIf="providerService.isProviderEnabled('Spotify')">
      <ion-label>Spotify</ion-label>
    </ion-item-divider>
    <ion-item-group *ngIf="providerService.isProviderEnabled('Spotify')">
      <ion-list class="provider-list" lines="full">
        <ion-item class="provider-item" (click)="presentAuth('Spotify')">
          <ion-label class="provider-label">User</ion-label>
          <ion-label class="provider-value" *ngIf="!providerService.getProviderSettings('Spotify').getUsername()">Not Logged In</ion-label>
          <ion-label class="provider-value" *ngIf="providerService.getProviderSettings('Spotify').getUsername()">{{providerService.getProviderSettings('Spotify').getUsername()}}</ion-label>
          <ion-icon name="arrow-down"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list class="range-list" lines="full">
        <ion-row class="range-item">
          <ion-col size="12">
            <div class="range-header">
              <span class="range-label">Source Weight</span>
              <span class="range-value">{{providerService.getProviderSettings('Spotify').getSourceWeight()}}</span>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-range class="range-control" color="secondary" [ngModel]="providerService.getProviderSettings('Spotify').getSourceWeight()"
              (ionChange)="setSourceWeight($event, 'Spotify')" min="0" max="50" step="1" debounce="1000"></ion-range>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list class="range-list" lines="full">
        <ion-row class="range-item">
          <ion-col size="12">
            <div class="range-header">
              <span class="range-label">Similarity Weight</span>
              <span class="range-value">{{providerService.getProviderSettings('Spotify').getSimilarityWeight()}}</span>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-range class="range-control" color="secondary" [ngModel]="providerService.getProviderSettings('Spotify').getSimilarityWeight()"
              (ionChange)="setSimilarityWeight($event, 'Spotify')" min="0" max="50" step="1" debounce="1000"></ion-range>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-item-group>

    <ion-item-divider *ngIf="providerService.isProviderEnabled('Deezer')">
      <!-- <ion-label (click)="forceAuthCode('Deezer')">Deezer</ion-label> -->
      <ion-label>Deezer</ion-label>
    </ion-item-divider>
    <ion-item-group *ngIf="providerService.isProviderEnabled('Deezer')">
      <ion-list class="provider-list" lines="full">
        <ion-item class="provider-item" (click)="presentAuth('Deezer')">
          <ion-label class="provider-label">User</ion-label>
          <ion-label class="provider-value" *ngIf="!providerService.getProviderSettings('Deezer').getUsername()">Not Logged In</ion-label>
          <ion-label class="provider-value" *ngIf="providerService.getProviderSettings('Deezer').getUsername()">{{providerService.getProviderSettings('Deezer').getUsername()}}</ion-label>
          <ion-icon name="arrow-down"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list class="range-list" lines="full">
        <ion-row class="range-item">
          <ion-col size="12">
            <div class="range-header">
              <span class="range-label">Source Weight</span>
              <span class="range-value">{{providerService.getProviderSettings('Deezer').getSourceWeight()}}</span>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-range class="range-control" color="secondary" [ngModel]="providerService.getProviderSettings('Deezer').getSourceWeight()"
              (ionChange)="setSourceWeight($event, 'Deezer')" min="0" max="50" step="1" debounce="1000"></ion-range>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list class="range-list" lines="full">
        <ion-row class="range-item">
          <ion-col size="12">
            <div class="range-header">
              <span class="range-label">Similarity Weight</span>
              <span class="range-value">{{providerService.getProviderSettings('Deezer').getSimilarityWeight()}}</span>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-range class="range-control" color="secondary" [ngModel]="providerService.getProviderSettings('Deezer').getSimilarityWeight()"
              (ionChange)="setSimilarityWeight($event, 'Deezer')" min="0" max="50" step="1" debounce="1000"></ion-range>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-item-group>

    <ion-item-group class="filters-group">
      <ion-item-divider>
        <ion-label>Keep Awake</ion-label>
      </ion-item-divider>
      <ion-list class="provider-list" lines="full">
        <ion-item class="provider-item">
          <ion-label class="provider-label">Loading</ion-label>
          <ion-toggle color="secondary" [checked]="keepAwakeLoading" (ionChange)="setKeepAwake($event, 'loading')"></ion-toggle>
        </ion-item>
        <ion-item class="provider-item">
          <ion-label class="provider-label">Listening</ion-label>
          <ion-toggle color="secondary" [checked]="keepAwakeListening" (ionChange)="setKeepAwake($event, 'listening')"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-item-group>

    <ion-item-group class="filters-group">
      <ion-item-divider>
        <ion-label>Finished Results</ion-label>
      </ion-item-divider>
      <ion-list class="provider-list" lines="full">
        <ion-item class="provider-item">
          <ion-label class="provider-label">Keep Max</ion-label>
          <ion-input class="provider-value-right" type="number" clearInput min="1" [(ngModel)]="maxQueueHistory" (ionChange)="setMaxQueueHistory($event)"
            debounce="1000"></ion-input>
        </ion-item>
      </ion-list>
    </ion-item-group>

    <ion-item-group class="filters-group">
      <ion-item-divider>
        <ion-label>Discography</ion-label>
      </ion-item-divider>
      <ion-list class="provider-list" lines="full">
        <ion-item class="provider-item">
          <ion-label class="provider-label">CSV RegExp Filter</ion-label>
          <ion-input class="provider-value-right" type="text" [(ngModel)]="discographyFilter" (ionChange)="setDiscographyFilter($event)"
            debounce="1000"></ion-input>
        </ion-item>
      </ion-list>
    </ion-item-group>    

  </ion-item-group>
</ion-content>