@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
  --menu-background: var(--app-background-shade);
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1, p, h2, h3, h4, ul, li, div {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: Roboto;
}

.toolbar {
  color: var(--page-background);
}

.loading-page {
  background: var(--page-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .counter {
    text-align: center;
    p {
      font-size: 40px;
      font-weight: 100;
      color: var(--ion-color-secondary);
    }
    h1 {
      color: var(--ion-color-primary);
      font-size: 60px;
      margin-top: -10px;
    }
    hr {
      background: var(--ion-color-secondary);
      border: none;
      height: 1px;
    }
    position: relative;
    width: 200px;
    h1.abs {
      position: absolute;
      top: 0;
      width: 100%;
    }
    .color {
      width: 0px;
      overflow: hidden;
      color: var(--ion-color-secondary);
    }
  }
}

.page-content {
  --background: var(--page-background);
}