<ion-header no-border>
  <ion-toolbar class="toolbar">
    <ion-buttons *ngIf="!skipMinimized" slot="start">
      <ion-button fill="clear" (click)="openQueue()">
        <ion-icon color="primary" slot="icon-only" src="./assets/sample-icons/food/reviews.svg"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="info()">
        <ion-icon color="primary" slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="minimize()">
        <ion-icon color="primary" slot="icon-only" name="remove"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="close()">
        <ion-icon color="primary" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main" class="page-content">
  <div class="loading-page">
    <div class="counter">
      <p>{{loadingService.loadingPhase}}</p>
      <h1>{{loadingService.loadingPercent}}%
      </h1>
      <hr/>
    </div>
  </div>
</ion-content>