<ion-content class="popover-content">
  <ion-list class="popover-list">
    <ion-item (click)="shareList()">
      <ion-icon name="share"></ion-icon>
      <ion-label>Share</ion-label>
    </ion-item>
    <ion-item (click)="importList()">
      <ion-icon name="arrow-up"></ion-icon>
      <ion-label>Import</ion-label>
    </ion-item>
  </ion-list>
</ion-content>