<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-title *ngIf="!selectionMode">{{customList?.listName}}</ion-title>
    <ion-buttons *ngIf="!selectionMode" slot="end">
      <ion-button *ngIf="customList?.listType !== 'ban'" fill="clear" [ngClass]="{'part-of-library' : customList?.partOfLibrary}" (click)="setLibrary()">
        <ion-icon slot="icon-only" src="./assets/svg/library.svg"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="selectionMode" slot="end">
      <ion-button fill="clear" (click)="closeSelection()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="closeSelection()">
        {{ selectedArtists.length }} items selected
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="search-toolbar">
    <ion-row class="searchbar-row">
      <ion-col>
        <ion-searchbar class="items-searchbar" animated mode="ios" [(ngModel)]="queryText" (ionChange)="filterArtist()" placeholder="Artist..."></ion-searchbar>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button fill="clear" color="secondary" class="filters-btn" (click)="presentOrderByAlert()">
          <ion-icon slot="icon-only" name="funnel"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button fill="clear" color="secondary" class="filters-btn" (click)="reorderArtists()">
          <ion-icon *ngIf="orderAscending" slot="icon-only" name="arrow-dropup"></ion-icon>
          <ion-icon *ngIf="!orderAscending" slot="icon-only" name="arrow-dropdown"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="artists-listing-content" #pageTop>
  <ion-list class="items-list" *ngIf="customList?.listArtists?.length > 0">
    <ion-item [ngClass]="{'list-item' : true, 'list-item-selected' : selectedArtists.indexOf(listArtist.artist) >= 0}" class="list-item"
      *ngFor="let listArtist of filteredArtists.slice(0, maxShown)">
      <ion-row class="artist-row" (click)="itemTapped(listArtist)" (press)="itemPressed(listArtist)">
        <ion-col size="3" class="artist-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="artist-image" animation="spinner" [mode]="'cover'" [src]="listArtist.iconSmall" [alt]="'./assets/images/my-list-artists.png'"
              [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="artist-data-wrapper">
          <div class="artist-info">
            <h3 class="artist-name">
              <app-text-shell animation="bouncing" [data]="listArtist.artist"></app-text-shell>
            </h3>
            <h5 class="artist-age">
              <app-text-shell animation="bouncing" [data]="listArtist.weight.toFixed(0).toString().concat(' points')"></app-text-shell>
            </h5>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="selectionMode" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="main-fab" color="secondary">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="fab-list" side="top">
      <ion-fab-button *ngIf="selectedArtists.length > 0" (click)="setWeight()">
        <ion-icon name="magnet"></ion-icon>
      </ion-fab-button>
      <ion-label *ngIf="selectedArtists.length > 0" (click)="setWeight()">Set Weight</ion-label>

      <ion-fab-button *ngIf="selectedArtists.length > 0" (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-label *ngIf="selectedArtists.length > 0" (click)="remove()">Remove</ion-label>

      <ion-fab-button (click)="selectAll()">
        <ion-icon name="checkbox"></ion-icon>
      </ion-fab-button>
      <ion-label (click)="selectAll()">Select All</ion-label>
    </ion-fab-list>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>