:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
  --menu-background: var(--app-background-shade);
}

.page-content {
--background: var(--page-background);

.items-list {
  .list-item {
  --padding-start: var(--page-margin);
  --padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: var(--page-margin);
  --inner-padding-top: calc(var(--page-margin) / 2);
  --inner-padding-bottom: calc(var(--page-margin) / 2);

  .list-row {
      --ion-grid-column-padding: 0px;

      width: 100%;

      .image-wrapper {
      padding-inline-end: calc(var(--page-margin) / 2);
      max-width: 75px !important;
      }

      .data-wrapper {
      padding-inline-start: calc(var(--page-margin) / 2);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .list-row-info {
          &:not(:last-child) {
          margin-bottom: calc(var(--page-margin) / 2);
          }

          .list-row-name {
          margin: 0px;
          margin-bottom: calc(var(--page-margin) / 4);
          font-size: 16px;
          }

          .list-row-extra {
          margin: 0px;
          color: rgba(var(--ion-color-dark-rgb), 0.4);
          font-size: 14px;
          }

          .list-row-extra-disabled {
            margin: 0px;
            color: rgba(var(--ion-color-secondary-rgb), 0.4);
            font-size: 14px;
            font-weight: bold;
            }          
      }
      }

      .enabled-toggle {
        margin: calc(var(--page-margin) / 2);
        display: flex;
        flex-direction: unset;
        justify-content: center;
        align-items: center;
      }

  }
  }
}

}

.page-footer {
  .loading-row {
    --ion-grid-column-padding: 0px;
  
    padding: var(--page-margin);
    padding-bottom: 0;
  
    .details-name {
      margin: 0px;
      font-size: 18px;
    }
  
    .details-style {
      margin-top: 5px;
      margin-bottom: var(--page-margin);
      font-size: 16px;
      color: var(--ion-color-dark-tint);
    }
  
    .details-price-range {
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 500;
      text-align: right;
  
      .price {
        color: var(--page-color);
      }
  
      .no-price {
        color: rgba(var(--ion-color-light-shade-rgb), .50);
      }
    }
  
    .first-loading-rowb {
      .loading-infob {
        justify-content: center;
  
        &:not(:first-child) {
          padding-left: calc(var(--page-margin) / 2);
        }
  
        &:not(:last-child) {
          padding-right: calc(var(--page-margin) / 2);
        }
  
        &.loading-finished {
          flex: 0 1 15%;
          justify-content: flex-end;
        }
      }
  
      .loading-percent {
        color: var(--ion-color-lightest);
        border-radius: var(--app-narrow-radius);
        padding: calc(var(--page-margin) / 4) calc(var(--page-margin) / 2);
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        min-width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(var(--ion-color-secondary-rgb), 0.4);
      }
    }
  }
  
  .first-loading-row {
    .loading-info {
      display: flex;
      align-items: center;
  
      .loading-icon {
        color: var(--ion-color-medium-tint);
        font-size: 24px;
      }
  
      .loading-value {
        color: var(--ion-color-medium-tint);
        font-size: 14px;
        margin-left: 4px;
      }
    }
  }
  
  .first-loading-row {
    .loading-value > app-text-shell {
      --text-shell-line-color: rgba(var(--shell-color-rgb), .15);
      --text-shell-line-height: 14px;
      min-width: 30px;
  
      &.text-loaded {
        min-width: 0px;
      }
    }
  }
  
  .loading-percent > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .15);
    --text-shell-line-height: 12px;
    min-width: 20px;
  
    &.text-loaded {
      min-width: 0px;
    }
  }
}

.button-wrapper {
  --ion-grid-column-padding: calc(var(--page-margin) / 2);

  padding: calc(var(--page-margin) / 2);

  .submit-btn {
    margin: 0px;
  }
}

.menu-content {  
  --background: var(--menu-background);

	ion-item-divider {
		--background: var(--menu-background);
		--padding-bottom: calc(var(--page-margin) / 2);
		--padding-top: calc(var(--page-margin) / 2);
		--padding-start: var(--page-margin);
		--padding-end: var(--page-margin);

		border: none;
  }

  .menu-list {
    .toggle-item {
      --padding-start: var(--page-margin);
      --padding-end: var(--page-margin);
      --inner-padding-end: 0px;

      .toggle-label {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: var(--ion-color-medium);
      }

      ion-toggle {
        padding-inline-end: 0px;
      } 
    }
    .input-item {
      --padding-start: var(--page-margin);
      --padding-end: var(--page-margin);
      --inner-padding-end: 0px;
      
      .number-label {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: var(--ion-color-medium);
      }

      ion-input {
        color: var(--ion-color-secondary);  
      }       
      
    }    
  }
}