<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Suprise Me</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="displayProviders()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main" class="page-content">
  <ion-list class="items-list">
    <ion-item class="list-item" *ngFor="let params of allParams">
      <ion-row class="list-row" *ngIf="params.type==='Local'">
        <ion-col size="3" class="image-wrapper" (click)="displaySources($event, params)">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="image-shell" animation="spinner" [mode]="'cover'" [src]="getImage('Local')" [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="data-wrapper" (click)="displaySources($event, params)">
          <div class="list-row-info">
            <h3 class="list-row-name">Local</h3>
            <h5 *ngIf="params.providerParams.sourceLists?.length > 1" class="list-row-extra">{{params.providerParams.sourceLists.length}} selected</h5>
            <h5 *ngIf="params.providerParams.sourceLists?.length <= 1" class="list-row-extra">{{params.providerParams.sourceLists[0]?.slice(0,15)}}</h5>
            <h5 *ngIf="!genericParams.showSources && allParams.length > 1" class="list-row-extra-disabled">{{params.providerParams.weight}}</h5>
          </div>
        </ion-col>
        <ion-col *ngIf="!genericParams.showSources && allParams.length > 1" size="1" class="enabled-toggle">
          <ion-button fill="clear" color="secondary" (click)="setWeight(params)">
            <ion-icon slot="icon-only" name="magnet"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="enabled-toggle">
          <ion-button fill="clear" color="secondary" (click)="removeProvider(params)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="list-row" *ngIf="params.type==='Last.fm'">
        <ion-col size="3" class="image-wrapper" (click)="displaySources($event, params)">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="image-shell" animation="spinner" [mode]="'cover'" [src]="getImage('Last.fm')" [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="data-wrapper">
          <div class="list-row-info">
            <h3 class="list-row-name" (click)="displaySources($event, params)">Last.fm</h3>
            <h5 class="list-row-extra" (click)="displaySources($event, params, true)">{{getParamsDisplay(params)}}</h5>
            <h5 *ngIf="!genericParams.showSources && allParams.length > 1" class="list-row-extra-disabled">{{params.providerParams.weight}}</h5>
          </div>
        </ion-col>
        <ion-col *ngIf="!genericParams.showSources && allParams.length > 1" size="1" class="enabled-toggle">
          <ion-button fill="clear" color="secondary" (click)="setWeight(params)">
            <ion-icon slot="icon-only" name="magnet"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="enabled-toggle">
          <ion-button fill="clear" color="secondary" (click)="removeProvider(params)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="list-row" *ngIf="params.type==='Spotify'">
        <ion-col size="3" class="image-wrapper" (click)="displaySources($event, params)">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="image-shell" animation="spinner" [mode]="'cover'" [src]="getImage('Spotify')" [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="data-wrapper">
          <div class="list-row-info">
            <h3 class="list-row-name" (click)="displaySources($event, params)">Spotify</h3>
            <h5 class="list-row-extra" (click)="displaySources($event, params, true)">{{getParamsDisplay(params)}}</h5>
            <h5 *ngIf="!genericParams.showSources && allParams.length > 1" class="list-row-extra-disabled">{{params.providerParams.weight}}</h5>
          </div>
        </ion-col>
        <ion-col *ngIf="!genericParams.showSources && allParams.length > 1" size="1" class="enabled-toggle">
          <ion-button fill="clear" color="secondary" (click)="setWeight(params)">
            <ion-icon slot="icon-only" name="magnet"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="enabled-toggle">
          <ion-button fill="clear" color="secondary" (click)="removeProvider(params)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="list-row" *ngIf="params.type==='Deezer'">
        <ion-col size="3" class="image-wrapper" (click)="displaySources($event, params)">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="image-shell" animation="spinner" [mode]="'cover'" [src]="getImage('Deezer')" [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="data-wrapper">
          <div class="list-row-info">
            <h3 class="list-row-name" (click)="displaySources($event, params)">Deezer</h3>
            <h5 class="list-row-extra" (click)="displaySources($event, params, true)">{{getParamsDisplay(params)}}</h5>
            <h5 *ngIf="!genericParams.showSources && allParams.length > 1" class="list-row-extra-disabled">{{params.providerParams.weight}}</h5>
          </div>
        </ion-col>
        <ion-col *ngIf="!genericParams.showSources && allParams.length > 1" size="1" class="enabled-toggle">
          <ion-button fill="clear" color="secondary" (click)="setWeight(params)">
            <ion-icon slot="icon-only" name="magnet"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="enabled-toggle">
          <ion-button fill="clear" color="secondary" (click)="removeProvider(params)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="page-footer">
  <ion-row class="loading-row">
    <ion-col size="12">
      <ion-row class="first-loading-row first-loading-rowb">
        <div class="loading-percent" (click)="openLoadingOrLastResult()">
          <app-text-shell [data]="loadingService.loadingPercent.toString()"></app-text-shell>
        </div>
        <ion-col class="loading-info loading-infob" (click)="openSearchQueue()">
          <ion-icon class="loading-icon" src="./assets/sample-icons/food/reviews.svg"></ion-icon>
          <div class="loading-value">
            <app-text-shell [data]="loadingQueueProvider.queueParamsArray.length.toString()"></app-text-shell>
          </div>
        </ion-col>
        <ion-col class="loading-info loading-infob loading-finished" (click)="openLastResultOrLoading()">
          <ion-icon class="loading-icon" name="checkmark"></ion-icon>
          <div class="loading-value">
            <app-text-shell [data]="loadingQueueProvider.queueHistoryArray.length.toString()"></app-text-shell>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="button-wrapper">
    <ion-col>
      <ion-button class="submit-btn" expand="block" color="secondary" type="submit" fill="solid" [disabled]="checkSearchDisabled()"
        (click)="search()">{{getSearchButtonDisplay()}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

<ion-menu side="end" type="overlay" menuId="side" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Options</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="selectedTemplate !== 'No Template'" fill="clear" (click)="deleteTemplate()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="saveTemplate()">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-item-group class="menu-group">
      <ion-list class="menu-list" lines="full">
        <ion-select [(ngModel)]="selectedTemplate" class="input-item" (ngModelChange)="templateChange($event)">
          <ion-select-option value="No Template" selected="true">No Template</ion-select-option>
          <ion-select-option *ngFor="let template of searchTemplates" [value]="template">{{template.name}}</ion-select-option>
        </ion-select>
        <ion-item [(disabled)]='genericParams.showSources' class="input-item">
          <ion-label class="number-label" position="floating">History Limit</ion-label>
          <ion-input *ngIf="!genericParams.showSources" type="number" clearInput min="1" [(ngModel)]="genericParams.historyLimit"></ion-input>
          <ion-input *ngIf="genericParams.showSources" value="NA"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label class="number-label" position="floating">Results Limit</ion-label>
          <ion-input type="number" clearInput min="1" [(ngModel)]="genericParams.resultLimit"></ion-input>
        </ion-item>
        <ion-item class="toggle-item">
          <ion-label class="toggle-label">Simple Search</ion-label>
          <ion-toggle color="secondary" [(ngModel)]="genericParams.simpleSearch"></ion-toggle>
        </ion-item>
        <ion-item class="toggle-item">
          <ion-label class="toggle-label">Show Sources</ion-label>
          <ion-toggle color="secondary" [(ngModel)]="genericParams.showSources"></ion-toggle>
        </ion-item>
        <ion-item [(hidden)]='genericParams.showSources' class="toggle-item">
          <ion-label class="toggle-label">Ignore Library</ion-label>
          <ion-toggle color="secondary" [(ngModel)]="genericParams.ignoreLibrary"></ion-toggle>
        </ion-item>
        <ion-item [(hidden)]='!genericParams.showSources' class="toggle-item">
          <ion-label class="toggle-label">Exclude Library</ion-label>
          <ion-toggle color="secondary" [(ngModel)]="genericParams.excludeLibrary"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-item-group>
  </ion-content>
</ion-menu>

<ion-select *ngIf="myLists" [hidden]='true' multiple="true" [(ngModel)]="selectedLocalParams.providerParams.sourceLists"
  #localSources>
  <ion-select-option [value]="myLists.favList.listName">{{myLists.favList.listName}}</ion-select-option>
  <ion-select-option *ngFor="let customList of myLists.customLists" [value]="customList.listName">{{customList.listName}}</ion-select-option>
</ion-select>

<ion-select [hidden]='true' [(ngModel)]="selectedLastFmParams.providerParams.lastfmPeriod" interface="popover" (ngModelChange)="sourceChange($event, 'Last.fm')"
  #lastFmSources>
  <ion-select-option value="Overall" selected="true">Overall</ion-select-option>
  <ion-select-option value="7 days">7 days</ion-select-option>
  <ion-select-option value="1 month">1 month</ion-select-option>
  <ion-select-option value="3 months">3 months</ion-select-option>
  <ion-select-option value="6 months">6 months</ion-select-option>
  <ion-select-option value="1 year">1 year</ion-select-option>
  <ion-select-option value="Custom">Custom</ion-select-option>
  <ion-select-option value="Loved">Loved</ion-select-option>
  <ion-select-option value="Global">Global</ion-select-option>
  <ion-select-option value="Tag">Tag</ion-select-option>
</ion-select>

<ion-select [hidden]='true' [(ngModel)]="selectedSpotifyParams.providerParams.spotifySource" interface="popover" (ngModelChange)="sourceChange($event, 'Spotify')"
  [interfaceOptions]="{'cssClass': 'wider-popover'}" #spotifySources>
  <ion-select-option value="Followed Artists" selected="true">Followed Artists</ion-select-option>
  <ion-select-option value="Saved Tracks">Saved Tracks</ion-select-option>
  <ion-select-option value="4 weeks">Top artists: 4 weeks</ion-select-option>
  <ion-select-option value="6 months">Top artists: 6 months</ion-select-option>
  <ion-select-option value="Overall">Top artists: Overall</ion-select-option>
  <ion-select-option value="Followed List">Followed List</ion-select-option>
</ion-select>

<ion-select [hidden]='true' [(ngModel)]="selectedDeezerParams.providerParams.deezerSource" interface="popover" (ngModelChange)="sourceChange($event, 'Deezer')"
  [interfaceOptions]="{'cssClass': 'wider-popover'}" #deezerSources>
  <ion-select-option value="Followed Artists" selected="true">Followed Artists</ion-select-option>
  <ion-select-option value="Saved Tracks">Saved Tracks</ion-select-option>
  <ion-select-option value="History">History</ion-select-option>
  <ion-select-option value="Flow">Flow</ion-select-option>
  <ion-select-option value="Recommendations">Recommendations</ion-select-option>
  <ion-select-option value="Followed List">Followed List</ion-select-option>
  <ion-select-option value="Global">Global</ion-select-option>
</ion-select>