@import "../../../../theme/mixins/inputs/checkbox-tag";
@import "../../../../theme/mixins/inputs/radio-tag";
@import "../../../../theme/mixins/inputs/color-radio";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
  
    --page-tags-gutter: 4px;
  
    --page-rating-5-color: #7ce198;
    --page-rating-4-color: #a8e07c;
    --page-rating-3-color: #cee07c;
    --page-rating-2-color: #e0c77c;
    --page-rating-1-color: #e07c7c;
  
    --page-color: #ebbb00;
    --page-color-rgb: 235,187,0;

    --shell-color: #ebbb00;
    --shell-color-rgb: 235,187,0;   
    
    --page-border-radius: var(--app-fair-radius);
  
    --page-actions-padding: 5px;
    --page-friends-gutter: calc(var(--page-margin) / 2);
    --page-pictures-gutter: calc(var(--page-margin) / 2);    
  }

  .search-toolbar {
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
  
    .searchbar-row {
      --ion-grid-column-padding: 0px;

      .call-to-action-col {
        padding-inline-start: var(--page-margin);
        max-width: fit-content;
        flex-shrink: 0;
        flex-grow: 0;
  
        display: flex;
        justify-content: flex-end;
  
        .filters-btn {
          margin: 0px;
          font-size: 18px;
          // override Ionic fixed height
          height: initial;
        }
      }

    }

    .top-tags-row {
      --ion-grid-column-padding: 0px;
  
      margin-top: calc(var(--page-margin) / 2);
      padding-top: calc(var(--page-margin) / 2);  
      // box-shadow at the top
      box-shadow: inset 0 6px 3px -8px  var(--ion-color-darkest);

      .item-divider {
        margin: 0px;
        padding-left : calc(var(--page-margin))
      }      

      .checkbox-tags {
    
        @include checkbox-tag();
    
        .checkbox-tag {
          padding: 0px var(--page-tags-gutter);
          margin: var(--page-tags-gutter) 0px;
        }
    
        // Add a deeper selector to override default colors
        &.square-checkbox-tags {
          background-color: var(--page-background);
    
          .checkbox-tag {
            --checkbox-tag-color: var(--ion-color-medium);
            --checkbox-tag-background: var(--ion-color-lightest);
            --checkbox-tag-active-color: var(--ion-color-lightest);
            --checkbox-tag-active-background: var(--ion-color-secondary);
          }
        }
    
        // Add a deeper selector to override default colors
        &.rounded-checkbox-tags {
          background-color: var(--ion-color-lightest);
    
          .checkbox-tag {
            --checkbox-tag-color: var(--ion-color-lightest);
            --checkbox-tag-background: var(--ion-color-light-shade);
            --checkbox-tag-active-color: var(--ion-color-lightest);
            --checkbox-tag-active-background: var(--ion-color-secondary);
          }
        }
      }

    }

  }  
  
  .page-content {
    --background: var(--page-background);
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
  }
  
  .artist-item {
    border-bottom: 2px solid var(--ion-color-medium-tint);
  
    &:last-child {
          border-bottom: none;
          margin-bottom: 0px;
      }

    .artist-details-section {
    --ion-grid-column-padding: 0px;
    
    margin: var(--page-margin); 
    
    .artist-image-wrapper {
        max-width: 75px;
    } 

    app-image-shell.artist-image {
        --image-shell-border-radius: var(--page-border-radius);
    }    
    
    .artist-info-wrapper {
        padding-left: var(--page-margin);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    
        .artist-data-row {
          flex-wrap: nowrap;
          justify-content: space-between;
    
          .artist-name {
            margin: 0px 0px 5px;
            font-size: 15px;
            letter-spacing: 0.5px;
          }
    
          .artist-title {
            margin: 0px 0px 5px;
            color: var(--ion-color-medium);
            font-size: 12px;
          }
    
          .fav-ban-col {
            padding-left: var(--page-margin);
            flex-grow: 0;

            .fav-ban-row {
              flex-wrap: nowrap;
              justify-content: space-between;              

              .fav-ban-span {

                text-align: center;
                
    
                .action-btn {
                  --border-radius: 50%;
                  --padding-start: 0px;
                  --padding-end: 0px;
                  
                  margin-right: var(--page-actions-padding);
          
                  width: 2.5ch;
                  height: 2.5ch;
          
                  .btn-icon {
                    font-size: 15px;
                  }
                } 
                
                .action-btn-not-added {
                  --background: var(--ion-color-secondary);                  
                }
                
                .action-btn-added {
                  --background: var(--page-background);
                  --box-shadow:none;

                  .btn-icon {
                    color: var(--ion-color-secondary); 
                  }                  
                }

              }

            }

          }
        }

        .item-tags {
  
          .tag-wrapper {
            padding-right: var(--page-tags-gutter);
            flex-grow: 0;
            min-width: fit-content;
  
            &:last-child {
              padding-right: 0px;
            }
          }
  
          .item-tag {
            display: block;
            border-radius: var(--app-narrow-radius);
            border: 1px solid var(--ion-color-light-shade);
            padding: calc(var(--page-tags-gutter) / 2) var(--page-tags-gutter);
            font-size: 10px;
          }

          .item-tag-no-high {
            color: var(--ion-color-medium-tint);            
          }

          .item-tag-high {
            background-color: var(--ion-color-secondary);
            color: var(--ion-color-lightest);            
          }          

        }

    }
    
    .actions-row {
        --ion-grid-columns: 10;
        --ion-grid-column-padding: var(--page-actions-padding);
  
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-left: calc(var(--page-actions-padding) * -1);
        margin-right: calc(var(--page-actions-padding) * -1);

        .main-actions {
            flex-grow: 0;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-left: calc(var(--page-actions-padding) * -1);
            margin-right: calc(var(--page-actions-padding) * -1);
            display: flex;
    
            .call-to-action-btn {
              padding: 0px var(--page-actions-padding);
              margin: 0px;
            }
        }

        .secondary-actions {
            flex-grow: 0;
            padding-top: 0px;
            padding-bottom: 0px;
    
            .more-btn {
              --padding-start: 4px;
              --padding-end: 4px;
    
              margin: 0px;
            }
        }        

    }    

    } 

    .artist-stats-section {
        --ion-grid-column-padding: 0px;
      
        padding-bottom: calc(var(--page-margin) / 2);
      
        .artist-stats-wrapper {
          text-align: center;
      
          .stat-value {
            display: block;
            color: var(--ion-color-dark-shade);
            font-weight: 500;
            font-size: 12px;
          }
      
          .stat-name {
            font-size: 10px;
            color: var(--ion-color-medium);
          }
        }
    }    

    } 

    .artist-name > app-text-shell {
        --text-shell-line-height: 20px;
        max-width: 50%;
      
        &.text-loaded {
          max-width: unset;
        }
      }
      
      .artist-title > app-text-shell {
        --text-shell-line-height: 16px;
        max-width: 70%;
      
        &.text-loaded {
          max-width: unset;
        }
      }
      
      .fav-ban-span > app-text-shell {
        --text-shell-line-color: rgba(var(--ion-color-secondary-rgb), 0.4);
        --text-shell-line-height: 14px;
        min-width: 30px;
      
        &.text-loaded {
          min-width: 0px;
        }
      }
      
      .stat-value > app-text-shell {
        --text-shell-line-height: 18px;
        max-width: 50%;
        margin: 0px auto;
      
        &.text-loaded {
          max-width: unset;
          margin: initial;
        }
      }
      
      .artist-description > app-text-shell {
        --text-shell-line-height: 14px;
      }
      
      app-image-shell.friend-picture {
        --image-shell-border-radius: var(--page-border-radius);
      }
      
      .friend-name > app-text-shell {
        --text-shell-line-height: 14px;
      }
      
      app-image-shell.artist-photo-image {
        --image-shell-border-radius: var(--page-border-radius);
      }

.artists-listing-content {
  --background: var(--page-background);   
     
  .items-list {
    .list-item {
    --padding-start: var(--page-margin);
    --padding-end: 0px;
    --inner-padding-start: 0px;
    --inner-padding-end: var(--page-margin);
    --inner-padding-top: calc(var(--page-margin) / 2);
    --inner-padding-bottom: calc(var(--page-margin) / 2);

    .artist-row {
        --ion-grid-column-padding: 0px;

        width: 100%;

        .artist-image-wrapper {
        padding-inline-end: calc(var(--page-margin) / 2);
        }

        .artist-data-wrapper {
        padding-inline-start: calc(var(--page-margin) / 2);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .artist-info {
            &:not(:last-child) {
            margin-bottom: calc(var(--page-margin) / 2);
            }

            .artist-name {
            margin: 0px;
            margin-bottom: calc(var(--page-margin) / 4);
            font-size: 16px;
            }

            .artist-age {
            margin: 0px;
            color: rgba(var(--ion-color-dark-rgb), 0.4);
            font-size: 14px;
            }
        }
        }
    }
    }

    .list-item-selected {
        --border-color: var(--ion-color-secondary-tint); 
        --border-width: 2px;
        --padding-start: 8%;
        margin-top: 1%;
    }

  }
}