<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Results</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!simpleSearch" class="search-toolbar">
    <ion-row class="searchbar-row">
      <ion-col class="call-to-action-col" size="4">
        <ion-button fill="clear" color="secondary" class="filters-btn" (click)="showGenreFilter()">
          <ion-icon slot="icon-only" name="microphone"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="call-to-action-col" size="4">
        <ion-button fill="clear" color="secondary" class="filters-btn" (click)="presentOrderByAlert()">
          <ion-icon slot="icon-only" name="funnel"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="call-to-action-col" size="4">
        <ion-button fill="clear" color="secondary" class="filters-btn" (click)="reorderArtists()">
          <ion-icon *ngIf="orderAscending" slot="icon-only" name="arrow-dropup"></ion-icon>
          <ion-icon *ngIf="!orderAscending" slot="icon-only" name="arrow-dropdown"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="top-tags-row" *ngIf="showFilter">
      <ion-col size="10">
        <ion-label class="item-divider" *ngIf="topTags.length > 0">Tags</ion-label>
        <ion-label class="item-divider" *ngIf="topTags.length == 0">No tags available</ion-label>
      </ion-col>
      <ion-col size="2" *ngIf="topTags.length > 0">
        <ion-badge color="secondary" (click)="changeTagSign()">{{tagSign}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row class="top-tags-row" *ngIf="showFilter">
      <ion-row class="checkbox-tags rounded-checkbox-tags">
        <ion-item lines="none" class="checkbox-tag rounded-tag" *ngFor="let tag of topTags.slice(0, shownTags)" (click)="tagClicked(tag)">
          <ion-label class="tag-label">{{tag}}</ion-label>
          <ion-checkbox *ngIf="selectedTags.includes(tag)" [checked]="true"></ion-checkbox>
          <ion-checkbox *ngIf="!selectedTags.includes(tag)" [checked]="false"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag rounded-tag" *ngIf="shownTags < topTags.length && shownTags < maxShownTags">
          <ion-label class="tag-label" (click)="loadMoreTags()">...</ion-label>
        </ion-item>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!simpleSearch" class="page-content">
  <ng-container *ngIf="items">
    <div class="artist-item" *ngFor="let item of filteredArtists.slice(0, maxShownArtists)">
      <ion-row class="artist-details-section">
        <ion-col class="artist-image-wrapper" (click)="itemTapped(item)">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="artist-image" animation="spinner" [src]="item.iconSmall"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="artist-info-wrapper">
          <ion-row class="artist-data-row">
            <ion-col size="9" (click)="itemTapped(item)">
              <h3 class="artist-name">
                <app-text-shell [data]="item.artist"></app-text-shell>
              </h3>
            </ion-col>
            <ion-col class="fav-ban-col">
              <ion-row class="fav-ban-row">
                <ion-col>
                  <span class="fav-ban-span">
                    <ion-button *ngIf="!checkBan(item) && checkFav(item)" (click)="addRemoveFav(item)" [ngClass]="{'action-btn' : true, 'action-btn-added' : true}">
                      <ion-icon class="btn-icon" slot="icon-only" name="heart"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="!checkBan(item) && !checkFav(item)" (click)="addRemoveFav(item)" [ngClass]="{'action-btn' : true, 'action-btn-not-added' : true}">
                      <ion-icon class="btn-icon" slot="icon-only" name="heart"></ion-icon>
                    </ion-button>
                  </span>
                </ion-col>
                <ion-col>
                  <span class="fav-ban-span">
                    <ion-button *ngIf="!checkFav(item) && checkBan(item)" (click)="addRemoveBan(item)" [ngClass]="{'action-btn' : true, 'action-btn-added' : true}">
                      <ion-icon class="btn-icon" slot="icon-only" name="thumbs-down"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="!checkFav(item) && !checkBan(item)" (click)="addRemoveBan(item)" [ngClass]="{'action-btn' : true, 'action-btn-not-added' : true}">
                      <ion-icon class="btn-icon" slot="icon-only" name="thumbs-down"></ion-icon>
                    </ion-button>
                  </span>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="item-tags" (click)="itemTapped(item)">
            <ion-col class="tag-wrapper" *ngFor="let tag of item.genres">
              <span class="item-tag" [ngClass]="{'item-tag' : true, 'item-tag-no-high' : !selectedTags.includes(tag), 'item-tag-high' : selectedTags.includes(tag)}">
                <app-text-shell [data]="tag"></app-text-shell>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="artist-stats-section">
        <ion-col class="artist-stats-wrapper" size="4">
          <span class="stat-value">
            <app-text-shell [data]="item.listeners | thousandSuff : 2" *ngIf="item?.listeners"></app-text-shell>
            <app-text-shell [data]="'Unknown'" *ngIf="!item?.listeners"></app-text-shell>
          </span>
          <span class="stat-name">LISTENERS</span>
        </ion-col>
        <ion-col class="artist-stats-wrapper" size="4">
          <span class="stat-value">
            <app-text-shell [data]="item.playcount | thousandSuff : 2" *ngIf="item?.playcount"></app-text-shell>
            <app-text-shell [data]="'Unknown'" *ngIf="!item?.playcount"></app-text-shell>
          </span>
          <span class="stat-name">PLAYCOUNT</span>
        </ion-col>
        <ion-col class="artist-stats-wrapper" size="4">
          <span class="stat-value">
            <app-text-shell [data]="item.weight | number:'1.2-2'"></app-text-shell>
          </span>
          <span class="stat-name">SCORE</span>
        </ion-col>
      </ion-row>

    </div>
  </ng-container>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>    

</ion-content>

<ion-content *ngIf="simpleSearch" class="artists-listing-content">
  <ion-list class="items-list" *ngIf="items?.length > 0">
    <ion-item class="list-item" *ngFor="let listArtist of items.slice(0, maxShownArtists)">
      <ion-row class="artist-row" (click)="itemTapped(listArtist)">
        <ion-col size="3" class="artist-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="artist-image" animation="spinner" [mode]="'cover'" [src]="'./assets/images/my-list-artists.png'"
              [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="artist-data-wrapper">
          <div class="artist-info">
            <h3 class="artist-name">
              <app-text-shell animation="bouncing" [data]="listArtist.artist"></app-text-shell>
            </h3>
            <h5 class="artist-age">
              <app-text-shell animation="bouncing" [data]="listArtist.weight.toFixed(0).toString().concat(' points')"></app-text-shell>
            </h5>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>  

</ion-content>