<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="isFollowed" slot="end">
      <ion-button (click)="unmarkAlbum()" [disabled]="checkUnmarkDisabled()">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
      <ion-button (click)="markAlbum()" [disabled]="checkMarkDisabled()">
        <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
      </ion-button>
      <ion-button (click)="removeArtist()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="artists-listing-content" #pageTop>
  <ion-list class="items-list" *ngIf="albums?.length > 0">
    <ion-item class="list-item" *ngFor="let album of albums">
      <ion-row class="artist-row">
        <ion-col size="3" class="artist-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="artist-image" animation="spinner" [mode]="'cover'" [src]="album.image" [alt]="'./assets/images/my-list-artists.png'">
            </app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col size="8" class="artist-data-wrapper">
          <div class="artist-info">
            <h3 *ngIf="!isFollowed || isListened(album)" class="album-listened">
              <app-text-shell animation="bouncing" [data]="getName(album)"></app-text-shell>
            </h3>
            <h3 *ngIf="isFollowed && !isListened(album)" class="album-unlistened">
              <app-text-shell animation="bouncing" [data]="getName(album)"></app-text-shell>
            </h3>
            <h5 class="artist-age">
              <app-text-shell animation="bouncing" [data]="album.releaseDate | date:'longDate'"></app-text-shell>
            </h5>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>