:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
}

.part-of-library {
  color: var(--ion-color-secondary);  
}

.artists-listing-content {
--background: var(--page-background);

.items-list {
  .list-item {
  --padding-start: var(--page-margin);
  --padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: var(--page-margin);
  --inner-padding-top: calc(var(--page-margin) / 2);
  --inner-padding-bottom: calc(var(--page-margin) / 2);

  .artist-row {
      --ion-grid-column-padding: 0px;

      width: 100%;

      .artist-image-wrapper {
      padding-inline-end: calc(var(--page-margin) / 2);
      max-width: 75px !important;
      }

      .artist-data-wrapper {
      padding-inline-start: calc(var(--page-margin) / 2);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .artist-info {
          &:not(:last-child) {
          margin-bottom: calc(var(--page-margin) / 2);
          }

          .album-listened {
          margin: 0px;
          margin-bottom: calc(var(--page-margin) / 4);
          font-size: 12px;
          }

          .album-unlistened {
          margin: 0px;
          margin-bottom: calc(var(--page-margin) / 4);
          font-size: 12px;
          font-weight: bold;
          }          

          .artist-age {
          margin: 0px;
          color: rgba(var(--ion-color-dark-rgb), 0.4);
          font-size: 14px;
          }

          .artist-count {
            margin: 0px;
            color: var(--ion-color-secondary);
            font-size: 18px;
          }          
      }
      }
  }
  }

  .list-item-selected {
      --border-color: var(--ion-color-secondary-tint); 
      --border-width: 2px;
      --padding-start: 8%;
      margin-top: 1%;
  }

}

.main-fab {
  margin-left: 132px;
  overflow: visible;
  position: relative;
}

.fab-list {
  ion-label {
      overflow: visible;
      position: relative;
      top: 40px;
      right: 25px;
      color: var(--ion-color-dark-contrast);
      background-color: rgba(var(--ion-color-dark-rgb), 0.4);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
  }
  ion-fab-button {
      margin-left: 140px;
      overflow: visible;
      position: relative;
      --color: var(--ion-color-secondary);
  }    
}

}
