<ion-content class="popover-content">
  <ion-list class="popover-list">
    <ion-item (click)="refreshAll()">
      <ion-icon name="refresh"></ion-icon>
      <ion-label>Refresh All</ion-label>
    </ion-item>
    <ion-item (click)="unlistened()">
      <ion-icon name="radio"></ion-icon>
      <ion-label>Unlistened</ion-label>
    </ion-item>
    <ion-item (click)="shareList()">
      <ion-icon name="share"></ion-icon>
      <ion-label>Share</ion-label>
    </ion-item>
    <ion-item (click)="importList()">
      <ion-icon name="arrow-up"></ion-icon>
      <ion-label>Import</ion-label>
    </ion-item>    
    <ion-item (click)="info()">
      <ion-icon name="help"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-item>    
  </ion-list>
</ion-content>