<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="app-sidemenu">
      <ion-header>
        <ion-toolbar>
          <ion-row class="app-details-wrapper">
            <ion-col size="4">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                <app-image-shell class="app-avatar" animation="spinner" [src]="'./assets/images/main-icon.png'"></app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="app-info-wrapper" size="8">
              <h3 class="app-name">Surprise Me</h3>
              <h5 class="app-handle">Better Music</h5>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item (click)="itemTapped(p)">
              <ion-icon *ngIf="p.icon" slot="start" [name]="p.icon"></ion-icon>
              <ion-icon *ngIf="p.svg" slot="start" [src]="p.svg"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>