<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Followed</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="search-toolbar">
    <ion-row class="searchbar-row">
      <ion-col>
        <ion-searchbar class="items-searchbar" animated mode="ios" [(ngModel)]="queryText" (ionChange)="filterArtist()" placeholder="Artist..."></ion-searchbar>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button fill="clear" color="secondary" class="filters-btn" (click)="presentOrderByAlert()">
          <ion-icon slot="icon-only" name="funnel"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button fill="clear" color="secondary" class="filters-btn" (click)="reorderArtists()">
          <ion-icon *ngIf="orderAscending" slot="icon-only" name="arrow-dropup"></ion-icon>
          <ion-icon *ngIf="!orderAscending" slot="icon-only" name="arrow-dropdown"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="artists-listing-content" #pageTop>
  <ion-list class="items-list" *ngIf="discoArtists?.artists?.length > 0">
    <ion-item class="list-item" *ngFor="let listArtist of filteredArtists.slice(0, maxShown)">
      <ion-row class="artist-row" (click)="itemTapped(listArtist)">
        <ion-col size="3" class="artist-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="artist-image" animation="spinner" [mode]="'cover'" [src]="listArtist.artist.iconSmall" [alt]="'./assets/images/my-list-artists.png'"
              [alt]="'unavailable'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col size="8" class="artist-data-wrapper">
          <div class="artist-info">
            <h3 class="artist-name">
              <app-text-shell animation="bouncing" [data]="listArtist.artist.artist"></app-text-shell>
            </h3>
            <h5 class="artist-age">
              <app-text-shell *ngIf="listArtist.latestAlbum" animation="bouncing" [data]="listArtist.latestAlbum | date:'longDate'"></app-text-shell>
              <app-text-shell *ngIf="!listArtist.latestAlbum" animation="bouncing" [data]="'Up To Date'"></app-text-shell>
            </h5>
          </div>
        </ion-col>
        <ion-col class="artist-data-wrapper">
          <div class="artist-info">
            <h5 class="artist-count">
              <app-text-shell animation="bouncing" [data]="listArtist.albumCount.toString()"></app-text-shell>
            </h5>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>