<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generate Playlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="create-user-content">
  <section class="user-details-fields fields-section">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label color="primary">Provider</ion-label>
        <ion-select [(ngModel)]="generateParams.provider" placeholder="Select One" class="input-select">
          <ion-select-option *ngFor="let p of providerService.getAllProvidersFor(providerOperations.GENERATE)" [value]="p.name">{{p.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="input-item">
        <ion-label color="primary">Playlist Name</ion-label>
        <ion-input type="text" [(ngModel)]="generateParams.playlistName" required slot="end" class="ion-text-end" color="secondary"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-label color="primary">Private</ion-label>
        <ion-toggle [(ngModel)]="generateParams.privatePlaylist" color="secondary"></ion-toggle>
      </ion-item>
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header">
            <span class="range-label">Songs Per Artist</span>
            <span class="range-value">{{generateParams.songsPerArtist}}</span>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-range [(ngModel)]="generateParams.songsPerArtist" class="range-control" min="1" [max]="maxPerArtist" step="1" color="secondary"></ion-range>
        </ion-col>
      </ion-row>
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header">
            <span class="range-label">Songs To Choose From</span>
            <span class="range-value">{{generateParams.songsToChooseFrom}}</span>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-range [(ngModel)]="generateParams.songsToChooseFrom" (ngModelChange)="checkRanges()" class="range-control" min="1" max="10" step="1" color="secondary"></ion-range>
        </ion-col>
      </ion-row>
      <ion-item lines="none" class="input-item">
        <ion-label color="primary">Shuffle Tracks</ion-label>
        <ion-toggle [(ngModel)]="generateParams.shuffle" color="secondary"></ion-toggle>
      </ion-item>      
      <ion-item lines="none" class="input-item">
        <ion-label color="primary" position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="generateParams.description" rows="5" color="secondary" (ionFocus)="onFocus()" (ionBlur)="onLostFocus()"></ion-textarea>
      </ion-item>
    </ion-list>
  </section>
</ion-content>

<ion-footer [hidden]="submitHidden">
  <ion-row class="form-actions-wrapper">
    <ion-col>
      <ion-button class="submit-btn" expand="block" color="secondary" type="submit" fill="solid" [disabled]="!checkValidParams()" (click)="generate()">{{getGenerateButtonText()}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>