:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-background-shade: var(--app-background-shade);
  --page-tags-gutter: 5px;
}

.create-user-content {
  --background: var(--page-background);

  .user-details-fields {
    .inputs-list {
      padding: 0px var(--page-margin);
    }

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-start: 0px;
      --inner-padding-end: 0px;

      .input-select {
        color: var(--ion-color-secondary);
      }
    }

  }

  .range-item-row {
    --ion-grid-column-padding: 0px;

    padding-top: var(--page-margin);
    box-shadow: 
      inset 0 6px 3px -8px  var(--ion-color-darkest),
      inset 0 -6px 3px -8px  var(--ion-color-darkest);

    .range-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: calc(var(--page-margin) / 2);

      .range-value {
        color: var(--ion-color-secondary);
      }

      .range-label {
        color: var(--ion-color-primary);
      }
    }

    .range-control {
      // override the pin color
      --ion-text-color: var(--ion-color-secondary);

      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

}

.form-actions-wrapper {
  --ion-grid-column-padding: calc(var(--page-margin) / 2);

  padding: calc(var(--page-margin) / 2);

  .submit-btn {
    margin: 0px;
  }
}
