<ion-content class="popover-content">
  <ion-list class="popover-list">
    <ion-item (click)="shareList()">
      <ion-icon name="share"></ion-icon>
      <ion-label>Share</ion-label>
    </ion-item>
    <ion-item (click)="generatePlaylist()">
      <ion-icon name="headset"></ion-icon>
      <ion-label>Generate</ion-label>
    </ion-item>    
    <ion-item *ngIf="customList.listType != 'fav' && customList.listType != 'ban'" (click)="renameList()">
      <ion-icon name="create"></ion-icon>
      <ion-label>Rename</ion-label>
    </ion-item>
    <ion-item *ngIf="customList.listType != 'fav' && customList.listType != 'ban'" ion-item (click)="deleteList()">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Delete</ion-label>
    </ion-item>
  </ion-list>
</ion-content>