<ion-content class="popover-content">
  <ion-list class="popover-list">
    <ion-item *ngIf="checkFollowed()" (click)="addRemoveFollow()">
      <ion-icon name="close"></ion-icon>
      <ion-label>Unfollow</ion-label>
    </ion-item>
    <ion-item *ngIf="!checkFollowed()" (click)="addRemoveFollow()">
        <ion-icon name="checkmark"></ion-icon>
        <ion-label>Follow</ion-label>
      </ion-item>    
    <ion-item (click)="addToCustomListPrompt()">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add To List</ion-label>
    </ion-item>
    <ion-item *ngIf="fullArtist.url" (click)="openInBrowser()">
      <ion-icon name="open"></ion-icon>
      <ion-label>Open</ion-label>
    </ion-item>
  </ion-list>
</ion-content>