:host {
    --page-background: var(--app-background);
}

.popover-content {
    --background: var(--page-background);

    .popover-list {        

        ion-item {             
            ion-icon {
                color: var(--ion-color-secondary); 
                padding-right: 10px;
            }
            ion-label {
                color: var(--ion-color-primary);
            }
        }

    }    

}