<ion-content class="popover-content">
  <ion-list class="popover-list">
    <ion-item (click)="removeFinished()">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Clear Finished</ion-label>
    </ion-item>
    <ion-item (click)="removeQueued()">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Clear Queued</ion-label>
    </ion-item>    
    <ion-item (click)="removeAll()">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Clear All</ion-label>
    </ion-item>
  </ion-list>
</ion-content>