@import "../../../../theme/mixins/inputs/checkbox-tag";
@import "../../../../theme/mixins/inputs/radio-tag";
@import "../../../../theme/mixins/inputs/color-radio";
@import "../../../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
  
    --page-tags-gutter: 4px;
  
    --page-rating-5-color: #7ce198;
    --page-rating-4-color: #a8e07c;
    --page-rating-3-color: #cee07c;
    --page-rating-2-color: #e0c77c;
    --page-rating-1-color: #e07c7c;
  
    --page-color: #ebbb00;
    --page-color-rgb: 235,187,0;

    --shell-color: #ebbb00;
    --shell-color-rgb: 235,187,0;   
    
    --page-border-radius: var(--app-fair-radius);
  
    --page-actions-padding: 5px;
    --page-friends-gutter: calc(var(--page-margin) / 2);
    --page-pictures-gutter: calc(var(--page-margin) / 2);    
  }

  .search-toolbar {
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
  
    .searchbar-row {
      --ion-grid-column-padding: 0px;

      .call-to-action-col {
        padding-inline-start: var(--page-margin);
        max-width: fit-content;
        flex-shrink: 0;
        flex-grow: 0;
  
        display: flex;
        justify-content: flex-end;
  
        .filters-btn {
          margin: 0px;
          font-size: 18px;
          // override Ionic fixed height
          height: initial;
        }
      }

    }

    .top-tags-row {
      --ion-grid-column-padding: 0px;
  
      margin-top: calc(var(--page-margin) / 2);
      padding-top: calc(var(--page-margin) / 2);  
      // box-shadow at the top
      box-shadow: inset 0 6px 3px -8px  var(--ion-color-darkest);

      .item-divider {
        margin: 0px;
        padding-left : calc(var(--page-margin))
      }      

      .checkbox-tags {
    
        @include checkbox-tag();
    
        .checkbox-tag {
          padding: 0px var(--page-tags-gutter);
          margin: var(--page-tags-gutter) 0px;
        }
    
        // Add a deeper selector to override default colors
        &.square-checkbox-tags {
          background-color: var(--page-background);
    
          .checkbox-tag {
            --checkbox-tag-color: var(--ion-color-medium);
            --checkbox-tag-background: var(--ion-color-lightest);
            --checkbox-tag-active-color: var(--ion-color-lightest);
            --checkbox-tag-active-background: var(--ion-color-secondary);
          }
        }
    
        // Add a deeper selector to override default colors
        &.rounded-checkbox-tags {
          background-color: var(--ion-color-lightest);
    
          .checkbox-tag {
            --checkbox-tag-color: var(--ion-color-lightest);
            --checkbox-tag-background: var(--ion-color-light-shade);
            --checkbox-tag-active-color: var(--ion-color-lightest);
            --checkbox-tag-active-background: var(--ion-color-secondary);
          }
        }
      }

    }

  }  
  
  .page-content {
    --background: var(--page-background);
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
  }
  
  .artist-item {
    border-bottom: 2px solid var(--ion-color-medium-tint);
  
    &:last-child {
          border-bottom: none;
          margin-bottom: 0px;
      }

    .artist-details-section {
    --ion-grid-column-padding: 0px;
    
    margin: var(--page-margin); 
    
    .artist-image-wrapper {
        max-width: 75px;
    } 

    app-image-shell.artist-image {
        --image-shell-border-radius: var(--page-border-radius);
    }    
    
    .artist-info-wrapper {
        padding-left: var(--page-margin);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    
        .artist-data-row {
          flex-wrap: nowrap;
          justify-content: space-between;
    
          .artist-name {
            margin: 0px 0px 5px;
            font-size: 15px;
            letter-spacing: 0.5px;
          }
    
          .artist-title {
            margin: 0px 0px 5px;
            color: var(--ion-color-medium);
            font-size: 12px;
          }
    
          .fav-ban-col {
            padding-left: var(--page-margin);
            flex-grow: 0;

            .fav-ban-row {
              flex-wrap: nowrap;
              justify-content: space-between;              

              .fav-ban-span {

                text-align: center;
                
    
                .action-btn {
                  --border-radius: 50%;
                  --padding-start: 0px;
                  --padding-end: 0px;
                  
                  margin-right: var(--page-actions-padding);
          
                  width: 2.5ch;
                  height: 2.5ch;
          
                  .btn-icon {
                    font-size: 15px;
                  }
                } 
                
                .action-btn-not-added {
                  --background: var(--ion-color-secondary);                  
                }
                
                .action-btn-added {
                  --background: var(--page-background);
                  --box-shadow:none;

                  .btn-icon {
                    color: var(--ion-color-secondary); 
                  }                  
                }

              }

            }

          }
        }

        .stats-row {
          --ion-grid-column-padding: 0px;
      
          padding: 0px 0px;
          justify-content: flex-start;

          .stats-icon {
            font-size: 17px;
          }  
          
          .heart-icon {
            font-size: 20px;
            margin-left: 4px;
            color: var(--ion-color-secondary); 
          }          

          .item-reviews {
            display: inline-flex;
            text-align: center;
            align-items: center;
            justify-content: flex-start;
            padding: 0px 0px;
      
            .reviews-count {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }          

        .item-tags {      
  
          .tag-wrapper {
            padding-right: var(--page-tags-gutter);
            flex-grow: 0;
            min-width: fit-content;
  
            &:last-child {
              padding-right: 0px;
            }
          }
  
          .item-tag {
            display: block;
            border-radius: var(--app-narrow-radius);
            border: 1px solid var(--ion-color-light-shade);
            padding: calc(var(--page-tags-gutter) / 2) var(--page-tags-gutter);
            font-size: 10px;
            color: var(--ion-color-medium-tint);   
          }         

        }

    }
    
    .actions-row {
        --ion-grid-columns: 10;
        --ion-grid-column-padding: var(--page-actions-padding);
  
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-left: calc(var(--page-actions-padding) * -1);
        margin-right: calc(var(--page-actions-padding) * -1);

        .main-actions {
            flex-grow: 0;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-left: calc(var(--page-actions-padding) * -1);
            margin-right: calc(var(--page-actions-padding) * -1);
            display: flex;
    
            .call-to-action-btn {
              padding: 0px var(--page-actions-padding);
              margin: 0px;
            }
        }

        .secondary-actions {
            flex-grow: 0;
            padding-top: 0px;
            padding-bottom: 0px;
    
            .more-btn {
              --padding-start: 4px;
              --padding-end: 4px;
    
              margin: 0px;
            }
        }        

    }    

    } 

    .artist-stats-section {
        --ion-grid-column-padding: 0px;
      
        padding-bottom: calc(var(--page-margin) / 2);
        border-bottom: 1px solid var(--ion-color-light-shade);
      
        .artist-stats-wrapper {
          text-align: center;
      
          .stat-value {
            display: block;
            color: var(--ion-color-dark-shade);
            font-weight: 500;
            font-size: 12px;
          }
      
          .stat-name {
            font-size: 10px;
            color: var(--ion-color-medium);
          }
        }
    } 

    .artist-section-title {
      font-size: 18px;
      font-weight: 500;
      color: var(--ion-color-dark-tint);
      margin: 0;
    }  
    
    .show-all-albums {
      font-size: 12px;
      font-weight: 1000;
      color: var(--ion-color-secondary);
      margin: 0;
      text-align: end;
    }      
    
    .artist-about-section {
      padding: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
      border-bottom: 1px solid var(--ion-color-light-shade);
    
      .artist-description {
        color: var(--ion-color-dark-shade);
        text-align: justify;
        font-size: 11px;
        line-height: 1.3;
      }

      .heading-row {
        margin-bottom: var(--page-margin);
        justify-content: space-between;
        align-items: center;
    
        .heading-call-to-action {
          padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
          text-decoration: none;
          color: var(--ion-color-secondary);
        }
      }  
      
      .artist-info-row {
        @media (orientation: landscape) {
        --ion-grid-columns: 12; // We want to show three friends and a half. Each friend fills 2 cols => (3.5 * 2 = 7 cols)
        }
        @media (orientation: portrait) {
          --ion-grid-columns: 7; // We want to show three friends and a half. Each friend fills 2 cols => (3.5 * 2 = 7 cols)
        }        
        --ion-grid-column-padding: 0px;
    
        flex-wrap: nowrap;
        overflow-x: scroll;
        will-change: scroll-position;
        margin-left: calc(var(--page-margin) * -1);
        margin-right: calc(var(--page-margin) * -1);
    
        @include hide-scrollbars();
    
        &::before,
        &::after {
          content: '';
          // .artist-info-item has 8px of side padding, we need an extra 4px at the beginning and end to fill the 12px side margin of the view
          flex: 0 0 calc(var(--page-margin) - var(--page-friends-gutter));
        }

        .item-with-max-width {
          max-width: 100px !important;        
        }
    
        .artist-info-item {
          padding: 0px var(--page-friends-gutter);
    
          .artist-info-name {
            display: block;
            text-align: center;
            margin-top: var(--page-margin);
            font-size: 11px;
          }

          .artist-info-index {
            display: block;
            text-align: center;
            margin-top: var(--page-margin);
            font-size: 11px;
            color: rgba(var(--ion-color-secondary-rgb), 1)
          }   
          
          .artist-info-value {
            display: block;
            text-align: left;
            margin-top: var(--page-margin);
            font-size: 11px;
          }   
          
          .artist-info-index-no-margin {
            display: block;
            text-align: center;
            font-size: 11px;
            color: rgba(var(--ion-color-secondary-rgb), 1)
          }   
          
          .artist-info-value-no-margin {
            display: block;
            text-align: left;
            font-size: 11px;
          }           
        }     
      }        

    }    

  } 

    .artist-name > app-text-shell {
        --text-shell-line-height: 20px;
        max-width: 50%;
      
        &.text-loaded {
          max-width: unset;
        }
      }
      
      .artist-title > app-text-shell {
        --text-shell-line-height: 16px;
        max-width: 70%;
      
        &.text-loaded {
          max-width: unset;
        }
      }
      
      .fav-ban-span > app-text-shell {
        --text-shell-line-color: rgba(var(--ion-color-secondary-rgb), 0.4);
        --text-shell-line-height: 14px;
        min-width: 30px;
      
        &.text-loaded {
          min-width: 0px;
        }
      }
      
      .stat-value > app-text-shell {
        --text-shell-line-height: 18px;
        max-width: 50%;
        margin: 0px auto;
      
        &.text-loaded {
          max-width: unset;
          margin: initial;
        }
      }
      
      .artist-description > app-text-shell {
        --text-shell-line-height: 14px;
      }
      
      app-image-shell.artist-info-picture {
        --image-shell-border-radius: var(--page-border-radius);
      }
      
      .artist-info-name > app-text-shell {
        --text-shell-line-height: 14px;
      }
      
      app-image-shell.artist-photo-image {
        --image-shell-border-radius: var(--page-border-radius);
      }    

.notrack-content {

  --background: var(--page-background);

    * {
      box-sizing: border-box;
      margin: 0;
    }
    
    h1, p, h2, h3, h4, ul, li, div {
      margin: 0;
      padding: 0;
    }
    
    body {
      padding: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      display: flex;
      font-family: Roboto;
    }
    
    .notrack-page {
      background: var(--page-background);
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .notrack-div {
        text-align: center;
        p {
          font-size: 30px;
          font-weight: 100;
          color: var(--ion-color-secondary);
        }
        h1 {
          color: var(--ion-color-primary);
          font-size: 15px;
          margin-top: 0px;
        }
        hr {
          background: var(--ion-color-secondary);
          border: none;
          height: 1px;
        }
        position: relative;
        width: 200px;
        h1.abs {
          position: absolute;
          top: 0;
          width: 100%;
        }
        .color {
          width: 0px;
          overflow: hidden;
          color: var(--ion-color-secondary);
        }
      }
    }        
}