<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="artistInfoParams?.listening"></ion-menu-button>
      <ion-button *ngIf="!artistInfoParams?.listening" fill="clear" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="artistInfoParams?.listening">Listening</ion-title>
    <ion-title *ngIf="!artistInfoParams?.listening">{{artistInfoParams?.fullArtist?.artist}}</ion-title>
    <ion-buttons *ngIf="artistInfoParams?.listening" slot="end">
      <ion-button fill="clear" (click)="presentProviders()">
        <ion-icon slot="icon-only" name="albums"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="artistInfoParams?.fullArtist" slot="end">
      <ion-button fill="clear" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!artistInfoParams?.listening || artistInfoParams?.track" class="page-content">
  <ng-container>
    <div class="artist-item">
      <ion-row class="artist-details-section">
        <ion-col class="artist-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="artist-image" animation="spinner" [src]="artistInfoParams?.fullArtist?.iconSmall"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="artist-info-wrapper">
          <ion-row class="artist-data-row">
            <ion-col size="7">
              <h3 class="artist-name">
                <app-text-shell [data]="artistInfoParams?.fullArtist?.artist"></app-text-shell>
              </h3>
            </ion-col>
            <ion-col class="fav-ban-col" *ngIf="artistInfoParams?.fullArtist">
              <ion-row class="fav-ban-row">
                <ion-col>
                  <span class="fav-ban-span">
                    <ion-button *ngIf="!checkBan() && checkFav()" (click)="addRemoveFav()" [ngClass]="{'action-btn' : true, 'action-btn-added' : true}">
                      <ion-icon class="btn-icon" slot="icon-only" name="heart"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="!checkBan() && !checkFav()" (click)="addRemoveFav()" [ngClass]="{'action-btn' : true, 'action-btn-not-added' : true}">
                      <ion-icon class="btn-icon" slot="icon-only" name="heart"></ion-icon>
                    </ion-button>
                  </span>
                </ion-col>
                <ion-col>
                  <span class="fav-ban-span">
                    <ion-button *ngIf="!checkFav() && checkBan()" (click)="addRemoveBan()" [ngClass]="{'action-btn' : true, 'action-btn-added' : true}">
                      <ion-icon class="btn-icon" slot="icon-only" name="thumbs-down"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="!checkFav() && !checkBan()" (click)="addRemoveBan()" [ngClass]="{'action-btn' : true, 'action-btn-not-added' : true}">
                      <ion-icon class="btn-icon" slot="icon-only" name="thumbs-down"></ion-icon>
                    </ion-button>
                  </span>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="item-tags">
            <ion-col class="tag-wrapper" *ngFor="let tag of artistInfoParams?.fullArtist?.genres">
              <span class="item-tag" class="item-tag">
                <app-text-shell [data]="tag"></app-text-shell>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="artist-stats-section">
        <ion-col class="artist-stats-wrapper" size="4">
          <span class="stat-value">
            <app-text-shell [data]="artistInfoParams?.fullArtist?.listeners | thousandSuff : 2" *ngIf="artistInfoParams?.fullArtist?.listeners"></app-text-shell>
            <app-text-shell [data]="'Unknown'" *ngIf="!artistInfoParams?.fullArtist?.listeners"></app-text-shell>
          </span>
          <span class="stat-name">LISTENERS</span>
        </ion-col>
        <ion-col class="artist-stats-wrapper" size="4">
          <span class="stat-value">
            <app-text-shell [data]="artistInfoParams?.fullArtist?.playcount | thousandSuff : 2" *ngIf="artistInfoParams?.fullArtist?.playcount"></app-text-shell>
            <app-text-shell [data]="'Unknown'" *ngIf="!artistInfoParams?.fullArtist?.playcount"></app-text-shell>
          </span>
          <span class="stat-name">PLAYCOUNT</span>
        </ion-col>
        <ion-col class="artist-stats-wrapper" size="4">
          <span class="stat-value">
            <app-text-shell [data]="artistInfoParams?.scrobbles"></app-text-shell>
          </span>
          <span class="stat-name">SCROBBLES</span>
        </ion-col>
      </ion-row>

      <div *ngIf="artistInfoParams?.listening" class="artist-about-section">

        <ion-row class="heading-row">
          <h3 *ngIf="artistInfoParams?.track?.nowPlaying" class="artist-section-title">Currently Listening</h3>
          <h3 *ngIf="!artistInfoParams?.track?.nowPlaying" class="artist-section-title">Last Listened</h3>
        </ion-row>

        <div>
          <ion-row class="artist-details-section">
            <ion-col class="artist-image-wrapper">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                <app-image-shell *ngIf="artistInfoParams?.track.image" class="artist-image" animation="spinner" [src]="artistInfoParams?.track.image"></app-image-shell>
                <app-image-shell *ngIf="!artistInfoParams?.track.image" class="artist-image" animation="spinner" [src]="artistInfoParams?.fullArtist?.iconSmall"></app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="artist-info-wrapper">
              <ion-row class="artist-data-row">
                <ion-col size="9">
                  <h3 class="artist-name">
                    <app-text-shell [data]="artistInfoParams?.track.track"></app-text-shell>
                  </h3>
                  <h5 class="artist-title">
                    <app-text-shell [data]="artistInfoParams?.track.album"></app-text-shell>
                  </h5>
                  <h5 *ngIf="artistInfoParams?.track.duration" class="artist-title">
                    <app-text-shell [data]="beautifyDuration()"></app-text-shell>
                  </h5>
                </ion-col>
              </ion-row>
              <ion-row class="stats-row">
                <ion-col size="3" class="item-reviews">
                  <ion-icon class="stats-icon" src="./assets/svg/scrobbles.svg"></ion-icon>
                  <span class="reviews-count">
                    <app-text-shell [data]="artistInfoParams?.track.scrobbles?.toString()"></app-text-shell>
                  </span>
                  <ion-icon *ngIf="artistInfoParams?.track.loved" class="heart-icon" name="heart"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div class="artist-about-section">
        <h3 class="artist-section-title">About</h3>
        <p class="artist-description">
          <app-text-shell animation="bouncing" lines="4" [data]="artistInfoParams?.fullArtist?.description" *ngIf="artistInfoParams?.fullArtist?.description?.trim()"></app-text-shell>
          <app-text-shell animation="bouncing" lines="4" [data]="'No description available'" *ngIf="!artistInfoParams?.fullArtist?.description?.trim()"></app-text-shell>
        </p>
      </div>

      <div class="artist-about-section">
        <ion-row class="heading-row">
          <h3 class="artist-section-title">Similar Artists</h3>
        </ion-row>
        <ion-row class="artist-info-row" *ngIf="artistInfoParams?.artistExtraInfo?.similarArtists?.length > 0">
          <ion-col [ngClass]="{'artist-info-item' : true, 'item-with-max-width' : true}" sizeLg="1" sizeMd="2" sizeXs="2" *ngFor="let artist of artistInfoParams?.artistExtraInfo?.similarArtists"
            (click)="openArtist(artist)">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="artist-info-picture" animation="spinner" [src]="artist.iconSmall"></app-image-shell>
            </app-aspect-ratio>
            <span class="artist-info-name">
              <app-text-shell animation="bouncing" [data]="artist.artist"></app-text-shell>
            </span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="artistInfoParams?.artistExtraInfo?.similarArtists?.length <= 0">
          <p class="artist-description">
            <app-text-shell animation="bouncing" lines="4" [data]="'No artists available'"></app-text-shell>
          </p>
        </ion-row>
      </div>
      <div class="artist-about-section">
        <ion-row class="heading-row">
          <ion-col size="9">
            <h3 class="artist-section-title">Top Albums</h3>
          </ion-col>
          <ion-col size="3">
            <h6 class="show-all-albums" (click)="showAlbums(artistInfoParams?.fullArtist)">Show All</h6>
          </ion-col>
        </ion-row>
        <ion-row class="artist-info-row" *ngIf="artistInfoParams?.artistExtraInfo?.topAlbums?.length > 0">
          <ion-col [ngClass]="{'artist-info-item' : true, 'item-with-max-width' : true}" sizeLg="1" sizeMd="2" sizeXs="2" *ngFor="let album of artistInfoParams?.artistExtraInfo?.topAlbums">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="artist-info-picture" animation="spinner" [src]="album.image"></app-image-shell>
            </app-aspect-ratio>
            <span class="artist-info-name">
              <app-text-shell animation="bouncing" [data]="album.album"></app-text-shell>
            </span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="artistInfoParams?.artistExtraInfo?.topAlbums?.length <= 0">
          <p class="artist-description">
            <app-text-shell animation="bouncing" lines="4" [data]="'No albums available'"></app-text-shell>
          </p>
        </ion-row>
      </div>
      <div class="artist-about-section">
        <ion-row class="heading-row">
          <h3 class="artist-section-title">Top Tracks</h3>
        </ion-row>
        <div *ngIf="artistInfoParams?.artistExtraInfo?.topSongs?.length > 0">
          <ion-row class="artist-info-row" *ngFor="let track of artistInfoParams?.artistExtraInfo?.topSongs; let i = index">
            <ion-col size="1" class="artist-info-item">
              <span class="artist-info-index">
                {{i+1}}
              </span>
            </ion-col>
            <ion-col class="artist-info-item">
              <span class="artist-info-value">
                <app-text-shell animation="bouncing" [data]="track"></app-text-shell>
              </span>
            </ion-col>
          </ion-row>
        </div>
        <ion-row *ngIf="artistInfoParams?.artistExtraInfo?.topSongs?.length <= 0">
          <p class="artist-description">
            <app-text-shell animation="bouncing" lines="4" [data]="'No tracks available'"></app-text-shell>
          </p>
        </ion-row>
      </div>
      <div class="artist-about-section" *ngIf="artistInfoParams?.fullArtist?.sourceArtists">
        <ion-row class="heading-row">
          <h3 class="artist-section-title">Similar From Source</h3>
        </ion-row>
        <ion-row class="artist-info-row">
          <ion-col [ngClass]="{'artist-info-item' : true, 'item-with-max-width' : true}" sizeLg="1" sizeMd="2" sizeXs="2" *ngFor="let artist of artistInfoParams?.similarArtistsFromSource"
            (click)="openArtist(artist)">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="artist-info-picture" animation="spinner" [src]="artist.iconSmall"></app-image-shell>
            </app-aspect-ratio>
            <span class="artist-info-name">
              <app-text-shell animation="bouncing" [data]="artist.artist"></app-text-shell>
            </span>
          </ion-col>
        </ion-row>
      </div>
      <div class="artist-about-section" *ngIf="artistInfoParams?.fullArtist?.providers">
        <ion-row class="heading-row">
          <h3 class="artist-section-title">Recommended By</h3>
        </ion-row>
        <ion-row class="artist-info-row">
          <ion-col [ngClass]="{'artist-info-item' : true, 'item-with-max-width' : true}" sizeLg="1" sizeMd="2" sizeXs="2" *ngFor="let provider of artistInfoParams?.fullArtist?.providers">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="artist-info-picture" animation="spinner" [src]="providerService.getServiceProvider(provider.provider).getProviderImage(true)"></app-image-shell>
            </app-aspect-ratio>
            <span class="artist-info-name">
              <app-text-shell animation="bouncing" [data]="provider.provider"></app-text-shell>
            </span>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ng-container>
</ion-content>

<ion-content *ngIf="artistInfoParams?.listening && !artistInfoParams.listeningError && !artistInfoParams?.track" class="notrack-content">
  <div class="notrack-page">
    <div class="notrack-div">
      <p>Nothing Listened Yet</p>
      <h1>Start listening to tracks on the listening provider and they will appear here.</h1>
      <hr/>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="artistInfoParams?.listening && artistInfoParams.listeningError" class="notrack-content">
  <div class="notrack-page">
    <div class="notrack-div">
      <p>{{artistInfoParams.listeningError.header}}</p>
      <h1>{{artistInfoParams.listeningError.subheader}}</h1>
      <hr/>
    </div>
  </div>
</ion-content>