// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background-alt-shade);
  
    --page-headers-shadow-color: rgba(var(--ion-color-darkest-rgb), 0.4);
  }
  
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
  .app-sidemenu {
    ion-toolbar {
      --padding-start: 0px;
      --padding-end: 0px;
      --padding-top: 0px;
      --padding-bottom: 0px;
      --background: var(--ion-color-dark-tint);
    }
  
    ion-content {
      --background: var(--page-background);
    }
  
    .app-details-wrapper {
      --ion-grid-column-padding: 0px;
  
      // background-color: rgba(var(--ion-color-light-rgb), 0.15);
      color: var(--ion-color-lightest);
      padding: var(--page-margin);
      align-items: center;
  
      & + .app-details-wrapper {
        padding-top: 0px;
      }
    }
  
    .app-info-wrapper {
      padding-left: var(--page-margin);
  
      .app-name {
        margin: 0px 0px 5px;
      }
  
      .app-handle {
        color: var(--ion-color-light-shade);
        margin: 0px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  
    .app-stats-wrapper {
      text-align: center;
  
      .app-stat-value {
        margin-right: 5px;
        font-weight: 500;
      }
  
      .app-stat-name {
        color: var(--ion-color-light-shade);
        font-size: 14px;
      }
    }
  
    // Menu list items
    ion-list {
      --ion-text-color: var(--ion-color-light-shade);
      --ion-text-color-rgb: var(--ion-color-light-shade-rgb);
      --ion-item-background: var(--page-background);
      --ion-item-border-color: transparent;
  
      ion-list-header {
        --color: rgba(var(--ion-color-light-shade-rgb), 0.6);
  
        text-transform: uppercase;
        box-shadow: inset 0px -4px 8px -2px var(--page-headers-shadow-color);
        padding-inline-start: var(--page-margin);
      }
  
      ion-item {
        --border-width: 0px !important;
        --padding-start: var(--page-margin);
        --background-activated: var(--ion-color-medium);
      }
  
      ion-icon {
        color: var(--ion-color-light-shade);
      }
    }
  }
  